<div class="screencast-row">
  <a
    class="series-banner"
    href="{{ url }}"
    target="_blank"
    style="background-image: url('{{ image }}'); background-position: {{ position }}"
  >
    {{ elIf('<h3 class="is-size-5">$title</h3>', { title }, title) }}
  </a>
  <div class="series-description">
    @!yield($slot.main)
  </div>
</div>
