@layout('layouts.master')

@section('body')
  @super()
  <div class="docs-container">
    <div class="container">
      <div class="columns">
        @include('partials.sidebar')
        @include('partials.content')
      </div>
    </div>
  </div>
@endsection
