<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" description="{{ file.excerpt }}">

  <title>{{ doc.title }}</title>

  {{-- Styling --}}
  <link rel="stylesheet" href="/static/app.css" >
  <link rel="stylesheet" href="https://unpkg.com/tippy.js@6.2.7/animations/scale-subtle.css" />

  <link rel="preload" href="/static/fonts/Calibre/Calibre.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/static/fonts/Calibre/Calibre-Semibold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/static/fonts/Calibre/Calibre-Medium.woff2" as="font" type="font/woff2" crossorigin>

  {{-- Scripts --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/quicklink/2.0.0/quicklink.umd.js" defer></script>
  <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js" defer></script>
  <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js" defer></script>

  <script src="/static/app.js" defer></script>
</head>

<body class="font-sans text-xl antialiased leading-6 text-gray-600 bg-body js-stop-transition">
  <div>
    @include('partials/header')
  </div>

  <section>
    @include('partials/sidebar')

    <article
      class="lg:ml-72"
      x-data="initializeIntersectionObserver('.markdown-content h2, .markdown-content h3', '.toc-container', 'active')"
      x-init="mounted"
    >
      <div class="flex flex-col-reverse xl:flex-row xl:justify-between">
        <div class="flex-1">
          @include('partials/doc')
        </div>

        <div class="w-full lg:max-w-2xl lg:mx-auto xl:w-72 xl:mx-0">
          @include('partials/toc')
        </div>
      </div>
    </article>
  </section>

  <script>document.body.classList.remove('js-stop-transition')</script>
</body>
</html>
