@layout('layouts.master')

@section('body')
  @super()

  @set(
    'description',
    'AdonisJs is a Node.js web framework with breath of fresh air and drizzle of elegant syntax on top of it'
  )

  @include('partials.splash')
  @include('partials.about')
  @include('partials.apps')
  @include('partials.patreon')
@endsection
