@layout('layouts.master')

@section('header')
  @super()
  @include('partials.splash')
@endsection

@section('body')
  @include('partials.features')
  @include('partials.apps')
  @include('partials.patreon')
@endsection
