<footer class="footer">
  <div class="grid-container">
    <div class="footer-content">
      <p> Designed by <a href="https://dribbble.com/planetabhi" target="_blank"> Abhimanyu Rana </a></p>
      <div class="logo"><img src="/images/badge.svg" alt="" /></div>
      <p> Developer by <a href="https://github.com/thetutlage" target="_blank"> Harminder Virk </a> </p>
    </div>
  </div>
</footer>
