<footer class="footer">
  <div class="grid-container">
    <div class="footer-content">
      <p> Designed by <a href=""> Abhimanyu Rana </a></p>
      <div class="logo"><img src="/images/badge.svg" alt="" /></div>
      <p> Developer by <a href=""> Harminder Virk </a> </p>
    </div>
  </div>
</footer>
