@each((items, category) in menu)
  <div class="navlist">
    <h3> {{ humanize(category) }} </h3>
    <ul>
      @each(item in items)
      {{ el('<li class="$class"><a href="$permalink">$title</a></li>', getProps(item, doc)) }}
      @endeach
    </ul>
  </div>
@endeach
