<nav class="navbar">
  <a href="/guides"> Guides </a>
  <a href="https://adonisjs.svbtle.com" target="_blank"> Blog </a>
  <a href="https://github.com/adonisjs" target="_blank"> Github </a>
  <a href="" target="_blank"> Forum </a>
  <a href="https://www.patreon.com/adonisframework" target="_blank"> Patreon </a>
</nav>
