<section class="splash">
  <div class="splash-content">
    <h1 class="title"> It all boils down to confidence </h1>
    <p>Writing micro services or you are a fan of TDD, it all boils down to confidence. AdonisJs simplicity will make you feel confident about your code.</p>

    <a href="/guides" class="button secondary arrow-right">
      Get started
      @inlineSvg('images/arrow-right')
    </a>
  </div>
</section>
