<div class="toc-container xl:fixed xl:top-0 xl:bottom-0 xl:mt-14">
  <div
    class="h-full w-full px-6 md:px-12 lg:px-6 text-lg pt-10 text-gray-400 xl:pl-6 xl:pr-8 xl:text-base xl:border-l xl:border-gray-300 xl:overflow-y-auto"
  >
    <h3 class="uppercase font-display font-semibold text-gray-800 mb-4">On this page</h3>
    <div class="pb-10">
      @dimerTree(file.toc.children)~
    </div>
  </div>
</div>
