[submodule "content/4.1"]
	path = content/4.1
	url = https://github.com/adonisjs/legacy-docs
	branch = 4.1
[submodule "content/4.0"]
	path = content/4.0
	url = https://github.com/adonisjs/legacy-docs
	branch = 4.0
[submodule "content/3.2"]
	path = content/3.2
	url = https://github.com/adonisjs/legacy-docs
	branch = 3.2
