/////////////////////////
// Applications design //
/////////////////////////
.docs-container {
  margin: 12px 0;

  @include from($tablet) {
    background: linear-gradient(90deg, #f9fafb 60%, #fff 61%);
  }

  @include until($tablet) {
    background: #f9fafb;
  }
}

///////////////////////
// Main docs content //
///////////////////////
.content-area {
  background: #fff;

  @include until($tablet) {
    padding: 70px $responsive-side-gap;
    box-shadow: 0 0 12px 0 rgba(0,23,40,.08);
  }

  @include from($tablet) {
    padding: 70px 100px;
    box-shadow: -10px 0 12px 0 rgba(0,23,40,.08);
    max-width: 75%;
  }

  @include from($desktop) {
    max-width: 800px;
  }
}
