.error-container {
  max-width: 800px;
  margin: auto;
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: space-between;
}

.error-graphic {
  flex: 1 1 auto;
  img {
    width: 100%;
  }
}

.error-body {
  padding-left: 80px;
  width: 60%;

  .title {
    font-size: 5.4rem;
    font-weight: 900;
    color: $primary;
  }

  .subtitle {
    font-size: 1.4rem;
    color: #919eab;
  }
}

