.missing-message {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $primary-color;
  color: #fff;

  img {
    max-width: 400px;
  }

  .message {
    margin-left: 150px;
    h2 {
      color: #fff;
      font-size: 48px;
      font-weight: 800;
    }

    p {
      color: rgba(255, 255, 255, 0.7);
      font-size: 18px;
      margin-bottom: 30px;
    }
  }
}
