* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-feature-settings: 'kern','onum','liga';
}

html {
  &.fixed {
    overflow: hidden;
  }
}

h1, h2, h3, h4, h5 {
  font-family: $family-headings;
  font-feature-settings: 'dlig','liga','lnum','kern';
  font-weight: 600;
  color: $dark;

  a {
    font-family: $family-headings;
    color: $dark;
  }
}

.has-codeshell {
  height: 520px;
  overflow: hidden;

  @include until($tablet) {
    height: 620px;
  }
}

.home-section-title {
  font-weight: 900;
  color: $primary;
  font-size: 1.8rem;
  margin-bottom: 15px;
  line-height: 1.25;
}

.home-section-p {
  font-size: 1rem;
}

@include until($tablet) {
  html {
    font-size: 15px !important;
  }

  body {
    line-height: 1.6;
  }
}

.columns {
  @include until($desktop) {
    margin-left: 0;
    margin-right: 0;
  }
}
