.hero {
  .splash {
    background-image: url(/images/pyramid.png);
    background-position: right;
    padding: 90px 0 145px 0;
    background-repeat: no-repeat;

    .title {
      font-size: 3.6rem;
      color: #fff;
      font-weight: 900;
      margin: 0 0 50px 0;
    }

  .subtitle {
      font-family: $family-primary;
      color: #fff;
      margin-bottom: 50px;
      line-height: 1.5;
      font-size: 1.20rem;
    }

    @include until($desktop) {
      padding: 50px 0 95px 0;
    }
  }

  .splash-content {
    max-width: 500px;
  }

  @include until($desktop) {
    padding-left: $responsive-side-gap;
    padding-right: $responsive-side-gap;
  }
}


.shrinked-container {
  max-width: 780px;
  margin: auto;
  position: relative;
}

///////////////////////////////
// About Adonis on home page //
///////////////////////////////
.about-adonis, .enjoy-adonis {
  padding-top: 106px;
  background: #fff;

  .about-text, .enjoy-text {
    text-align: center;
    margin: 0 auto 50px auto;

    p {
      width: 80%;
      margin: auto;
    }

    @include until($tablet) {
      padding-left: $responsive-side-gap;
      padding-right: $responsive-side-gap;
      text-align: left;

      p {
        width: 100%;
      }
    }
  }
}

/////////////////////////
// Quick install modal //
/////////////////////////
.for-quick-install {
  .box {
    border-radius: 0;
    padding: 40px 60px;

    h3 {
      margin-bottom: 10px;
    }
  }

  .modal-content {
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    -webkit-transform: translate(0,-25%);
    transform: translate(0,-25%);
  }

  &.is-active {
    .modal-content {
      transform: translate(0,0);
    }
  }
}

///////////////
// Codeshell //
///////////////
.codeshell {
  background: #fff;
  border-radius: 5px;
  position: absolute;
  height: 320px;
  left: 0;
  right: 0;

  @include until($tablet) {
    border-radius: 0;
  }

  .disc {
    width: 11px;
    border-radius: 50%;
    height: 11px;
    background: #1e282e;
    margin: 0 2px;
  }

  .codeshell-header {
    border-top-right-radius: 3px;
    border-top-left-radius: 4px;
    display: flex;
    align-items: center;
    padding-left: 4px;
    background: #44475a;
    height: 27px;

    @include until($tablet) {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
  }

  .codeshell-body {
    color: #f8f8f2;
    font-family: $family-code;
    background: #272935;
    padding: 20px 20px 30px;
    height: 100%;
    font-size: 0.9rem;

    .codeshell-action {
      color: #52fa7c;
      font-weight: 600;
    }

    .info {
      color: #f1fa89;
    }

    .codeshell-title {
      color: #8be8fd;
      font-weight: 600;
      margin-top: 20px;
      position: relative;
      display: inline-block;
    }

    ul {
      padding-left: 20px;
      list-style: inherit;
    }
  }
}

/////////////////
// Adonis Apps //
/////////////////
.adonis-apps {
  padding-top: 106px;
  padding-bottom: 106px;
  background: $light-gray;

  .home-section-title {
    width: 80%;
  }

  @include until($tablet) {
    .column {
      padding-left: 0;
      padding-right: 0
    }

    padding-left: $responsive-side-gap;
    padding-right: $responsive-side-gap;
  }
}

///////////////////
// Enjoy section //
///////////////////
.enjoy-adonis {
  padding-bottom: 106px;
  .enjoy-text {
    max-width: 670px;
    margin-bottom: 40px;

    p {
      width: 100%;
    }
  }

  .enjoy-cta {
    text-align: center;
    margin-bottom: 40px;

    @include until($tablet) {
      text-align: left;
      padding-left: $responsive-side-gap;
    }
  }
}

.gh-button {
  display: inline-flex;
  align-items: center;
  border: none;
  border-radius: 0;
  padding: 0 0 0 16px;
  height: auto;
  transition: background 200ms ease;
  margin-top: 10px;
}

.gh-button:hover {
  background: #f1ecec;
  color: #363636;
}

.gh-button .icon:first-child:not(:last-child) {
  margin-left: 0;
  margin-right: 0;
}

.gh-button .icon {
  position: relative;
  top: 3px;
  margin-right: 5px;
}

.gh-button .count {
  margin-left: 25px;
  height: 100%;
  font-weight: 600;
  border-left: 1px solid #e8e8e8;
  padding: 10px 10px 10px 16px;
}

@media (min-width: 425px) {
  .gh-button {
    margin-top: 0;
  }
}

.sponsors {
  background: $light-gray;
  padding: 60px 0;
}

.sponsors-grid {
  display: flex;
  flex-wrap: wrap;
}

.sponsors-column {
  width: 100%;
}

.sponsor-list-card {
  width: 100%;
  padding: 10px 10px;
}

.sponsor-list-card-body {
  width: 100%;
  background: #fff;
  box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 6px 0 rgba(69, 79, 91, 0.18);
}

.sponsor-list-card.pickaw .sponsor-list-card-body {
  padding: 0 20px;
}

.sponsor-list-card.pivale .sponsor-list-card-body {
  padding: 0 50px;
}

.sponsor-list-card a {
  height: 160px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.sponsor-list-card img {
  max-width: 100%;
}

.sponsor-list-placeholder {
  padding: 10px;
  opacity: 0.8;
}

.sponsor-list-placeholder-body {
  background: #fff;
  box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 6px 0 rgba(69, 79, 91, 0.18);
  height: 160px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sponsor-list-placeholder h3 {
  padding-bottom: 20px;
  position: relative;
  color: $danger;
}

.sponsor-list-placeholder p {
  color: #454F5B;
}

.sponsor-list-placeholder h3:after {
  content: '';
  height: 3px;
  background: #dfe3e8;
  position: absolute;
  width: 40px;
  top: 60%;
  left: 50%;
  margin-left: -20px;
}

@media (min-width: 768px) {
  .sponsors-column {
    width: 50%;
  }

  .sponsor-list-card.pickaw .sponsor-list-card-body {
    padding: 0 60px;
  }

  .sponsor-list-card.pivale .sponsor-list-card-body {
    padding: 0 100px;
  }

  .sponsor-list-card a {
    height: 180px;
  }
}

@media (min-width: 1024px) {
  .sponsors-column {
    width: 25%;
  }

  .sponsor-list-card.pickaw .sponsor-list-card-body {
    padding: 0 20px;
  }

  .sponsor-list-card.pivale .sponsor-list-card-body {
    padding: 0 40px;
  }

  .sponsor-list-card a {
    height: 200px;
  }

  .sponsor-list-placeholder-body {
    height: 200px;
  }
}
