.grid-container {
  max-width: 1080px;
  margin: auto;
}

.splash-container {
  background: $primary-color;
}

.subtitle {
  color: $primary-color;
  font-size: 34px;
  line-height: 40px;
  font-weight: 900;
  margin-bottom: 25px;
  position: relative;
  display: inline-block;

  &:before, &:after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
  }

  &:before {
    background: url('/images/arrow-yellow.png') no-repeat;
    right: 16px;
    bottom: -8px;
  }

  &:after {
    background: url('/images/arrow-green.png') no-repeat;
    left: 30px;
    top: -14px;
  }
}

.splash {
  background: url('/images/pyramid.png') right no-repeat;
  padding: 90px 0 145px 0;

  .splash-content {
    width: 500px;
  }

  h1.title {
    font-size: 62px;
    color: #fff;
    font-weight: 900;
    margin: 0 0 20px 0;
    line-height: 65px;
  }

  p {
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    margin-bottom: 35px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;

  .navbar {
    display: flex;
    a {
      margin-right: 15px;
      color: #fff;
      transition: color 300ms ease;
      text-decoration: none;
      &:hover {
        color: $linkColour;
      }
    }
  }
}

.apps-container {
  background: $gray4;
  padding: 106px 0;
}

.apps-content {
  display: flex;
  justify-content: space-between;

  .about-apps {
    width: 30%;
  }

  .apps-list {
    width: 70%;
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .app {
    width: 47%;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
    text-align: center;
    background: #FFFFFF;
    margin-bottom: 30px;
    box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 6px 0 rgba(69,79,91,0.18);

    h3 {
      color: $linkColour;
      position: relative;
      padding-bottom: 15px;
      &:after {
        content: '';
        height: 3px;
        background: $gray3;
        position: absolute;
        width: 30px;
        top: 75%;
        left: 50%;
        margin-left: -15px;
      }
    }
  }
}

.patreon-container {
  padding: 80px 0;
  text-align: center;
}

.patreon-content {
  max-width: 670px;
  margin: auto;

  p {
    margin-bottom: 40px;
    font-size: 17px;
  }
}

.features-container {
  padding: 106px 0 0 0;
  background: #fff;
}

.features-content {
  text-align: center;
  width: 780px;
  margin: auto;
  height: 600px;
  position: relative;
  overflow: hidden;

  p {
    width: 80%;
    font-size: 18px;
    line-height: 30px;
    margin: auto;
    margin-bottom: 20px;
  }
}

.codeshell {
  background: #fff;
  border-radius: 5px;
  position: absolute;
  height: 400px;
  left: 0;
  right: 0;
  margin-top: 50px;
  cursor: pointer;

  // &:after, &:before {
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%,-50%);
  //   position: absolute;
  // }

  // &:before {
  //   content: "";
  //   display: block;
  //   width: 82px;
  //   height: 82px;
  //   background: rgba($linkColour, 0.9);
  //   border-radius: 50%;
  //   transition: all 200ms cubic-bezier(.23,1,.32,1);
  // }

  // &:after {
  //   content: "";
  //   display: block;
  //   width: 0;
  //   height: 0;
  //   border-style: solid;
  //   border-width: 13px 0 13px 22px;
  //   border-color: transparent transparent transparent #fff;
  //   margin-left: 4px;
  // }

  &:hover {
    &:before {
      background: $linkColour;
      width: 90px;
      height: 90px;
    }
  }
}

.codeshell-header {
  border-top-right-radius: 3px;
  border-top-left-radius: 4px;
  display: flex;
  align-items: center;
  padding-left: 4px;
  background: hsl(232, 14%, 31%);
  height: 27px;

  .disc {
    width: 11px;
    border-radius: 50%;
    height: 11px;
    background: #1e282e;
    margin: 0 2px;
  }
}

.codeshell-body {
  color: hsl(60, 30%, 96%);
  font-family: $code-font-family;
  background: hsl(231, 15%, 18%);
  padding: 20px 20px 30px;
  height: 100%;
  text-align: left;
  line-height: 22px;
  font-size: 15px;

  .codeshell-action {
    color: hsl(135, 94%, 65%);
    font-weight: 600;
  }

  .codeshell-title {
    color: hsl(191, 97%, 77%);
    font-weight: 600;
    margin-top: 20px;
    position: relative;
    display: inline-block;
  }

  .purple {
    color: hsl(65, 92%, 76%);
  }

  ul {
    padding-left: 20px;
    li {
    }
  }
}

@media only screen and (max-width: 1140px) {
  .grid-container {
    max-width: 100%;
    padding: 0 30px;
  }
}
