.hero {
  .splash {
    background-image: url(/images/pyramid.png);
    background-position: right;
    padding: 90px 0 145px 0;
    background-repeat: no-repeat;

    .title {
      font-size: 3.6rem;
      color: #fff;
      font-weight: 900;
      margin: 0 0 50px 0;
    }

  .subtitle {
      font-family: $family-primary;
      color: #fff;
      margin-bottom: 50px;
      line-height: 1.5;
      font-size: 1.20rem;
    }

    @include until($desktop) {
      padding: 50px 0 95px 0;
    }
  }

  .splash-content {
    max-width: 500px;
  }

  @include until($desktop) {
    padding-left: $responsive-side-gap;
    padding-right: $responsive-side-gap;
  }
}


.shrinked-container {
  max-width: 780px;
  margin: auto;
  position: relative;
}

///////////////////////////////
// About Adonis on home page //
///////////////////////////////
.about-adonis, .enjoy-adonis {
  padding-top: 106px;
  background: #fff;

  .about-text, .enjoy-text {
    text-align: center;
    margin: 0 auto 50px auto;

    p {
      width: 80%;
      margin: auto;
    }

    @include until($tablet) {
      padding-left: $responsive-side-gap;
      padding-right: $responsive-side-gap;
      text-align: left;

      p {
        width: 100%;
      }
    }
  }
}

/////////////////////////
// Quick install modal //
/////////////////////////
.for-quick-install {
  .box {
    border-radius: 0;
    padding: 40px 60px;

    h3 {
      margin-bottom: 10px;
    }
  }

  .modal-content {
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    -webkit-transform: translate(0,-25%);
    transform: translate(0,-25%);
  }

  &.is-active {
    .modal-content {
      transform: translate(0,0);
    }
  }
}

///////////////
// Codeshell //
///////////////
.codeshell {
  background: #fff;
  border-radius: 5px;
  position: absolute;
  height: 320px;
  left: 0;
  right: 0;

  @include until($tablet) {
    border-radius: 0;
  }

  .disc {
    width: 11px;
    border-radius: 50%;
    height: 11px;
    background: #1e282e;
    margin: 0 2px;
  }

  .codeshell-header {
    border-top-right-radius: 3px;
    border-top-left-radius: 4px;
    display: flex;
    align-items: center;
    padding-left: 4px;
    background: #44475a;
    height: 27px;

    @include until($tablet) {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
  }

  .codeshell-body {
    color: #f8f8f2;
    font-family: $family-code;
    background: #272935;
    padding: 20px 20px 30px;
    height: 100%;
    font-size: 0.9rem;

    .codeshell-action {
      color: #52fa7c;
      font-weight: 600;
    }

    .info {
      color: #f1fa89;
    }

    .codeshell-title {
      color: #8be8fd;
      font-weight: 600;
      margin-top: 20px;
      position: relative;
      display: inline-block;
    }

    ul {
      padding-left: 20px;
      list-style: inherit;
    }
  }
}

/////////////////
// Adonis Apps //
/////////////////
.adonis-apps {
  padding-top: 106px;
  padding-bottom: 106px;
  background: $light-gray;

  .home-section-title {
    width: 80%;
  }

  @include until($tablet) {
    .column {
      padding-left: 0;
      padding-right: 0
    }

    padding-left: $responsive-side-gap;
    padding-right: $responsive-side-gap;
  }
}

///////////////////
// Enjoy section //
///////////////////
.enjoy-adonis {
  padding-bottom: 106px;
  .enjoy-text {
    max-width: 670px;
    margin-bottom: 40px;

    p {
      width: 100%;
    }
  }

  .enjoy-cta {
    text-align: center;
    margin-bottom: 40px;

    @include until($tablet) {
      text-align: left;
      padding-left: $responsive-side-gap;
    }
  }
}

.sponsors {
  background: $light-gray;
  padding: 60px 0;
}

.sponsors-list {
  display: flex;
}

.sponsor-list-card {
  width: 250px;
  background: #fff;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 6px 0 rgba(69, 79, 91, 0.18);
}

.sponsor-list-card.placeholder {
  opacity: 0.8;
}

.sponsor-list-card img {
  max-width: 100%;
}

.sponsor-list-card h3 {
  padding-bottom: 20px;
  position: relative;
}

.sponsor-list-card h3 a {
  color: $danger;
}

.sponsor-list-card h3:after {
  content: '';
  height: 3px;
  background: #dfe3e8;
  position: absolute;
  width: 40px;
  top: 60%;
  left: 50%;
  margin-left: -20px;
}
