@keyframes mm-fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes mm-slideIn {
  from { transform: translateY(35%); }
  to { transform: translateY(0); }
}

.modal {
  &.is-active {
    .modal-background {
      animation: mm-fadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
    }

    .modal-content {
      animation: mm-slideIn .3s cubic-bezier(0, 0, .2, 1);
    }
  }

  .modal-content, .modal-background {
    will-change: transform;
  }
}
