//////////////////////
// Header nav items //
//////////////////////

.navbar>.container .navbar-brand {
  margin-left: 0;

  .navbar-item {
    padding: 23px 0.5rem;

    img {
      max-height: 100%;
    }
  }
}

.navbar-menu {
  @include from($desktop) {
    .navbar-link {
      padding-left: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .navbar-item.for-donate {
    padding-left: 0;
  }

  > div > .navbar-item {
    @include from($desktop) {
      padding: 23px 0.5rem;
    }

    img {
      max-height: inherit;
    }
  }
}

///////////////
// OVERRIDES //
///////////////
.navbar.is-primary .navbar-brand > a.navbar-item {
  padding-left: 0;
  &:hover {
    background: inherit;
  }

  @include until($desktop) {
    padding-left: ($responsive-side-gap - 10px);
  }
}

@include from($desktop) {
  .navbar.is-primary .navbar-end > a.navbar-item, .navbar.is-primary .navbar-item.has-dropdown .navbar-link, .navbar.is-primary .navbar-item.has-dropdown {
    transition: color .3s ease;
    color: rgba(255, 255, 255, 0.7);
    &:hover {
      color: #fff;
      background: inherit;

      .navbar-link {
        color: #fff;
        background: inherit;
      }
    }

    &.is-child-active {
      .navbar-link {
        color: #fff;
      }
    }
  }

  .navbar.is-primary .navbar-item.has-dropdown.is-active .navbar-link, .navbar.is-primary .navbar-end > a.navbar-item.is-active {
    color: #fff;
    background: inherit;
  }
}

.navbar-dropdown {
  border: 1px solid rgba(0,0,0,.15);
  margin-top: -15px;
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  z-index: 200;

  @include until($desktop) {
    box-shadow: none;
    border: none;
    margin: 0;
  }
}

/////////////////
// Burger menu //
/////////////////
.navbar-burger {
  background: transparent;
  border: none;
  padding-top: 26px;
  padding-bottom: 26px;
  height: auto;
  width: 5.25rem;

  &.is-active {
    span:nth-child(1) {
    }
  }

  span {
    color: #fff;
    width: 19px;
    height: 2px;
  }

  &:focus:not(:active) {
    box-shadow: none;
  }
}


#notifications-handle {
  position: relative;
  width: 39px;
  display: block;
  height: 30px;
  margin-top: 30px;

  img {
    position: absolute;
    max-width: 17px;
  }

  #HW_badge_cont {
    position: absolute;
    top: -11px;
    right: 9px;
  }

  #HW_badge {
    height: 17px;
    width: 17px;
    line-height: 19px;
  }
}

.for-search {
  padding: 0.5rem 1rem;

  @include from($desktop) {
    padding: 22px 112px 0 0;
  }

  pre {
    margin: 0;
    padding: 0;
  }

  .input {
    @include from($desktop) {
      border-radius: 290486px;
    }

    background: rgba(255, 255, 255, 0.8);
    transition: background 300ms ease;
    border-radius: 4px;
    padding: 6px 21px 4px 15px;
    font-size: 0.9rem;
    height: auto;
    line-height: 25px;

    &:focus {
      background: #fff;
    }
  }

  .algolia-docsearch-suggestion--highlight {
    color: $danger;
  }

  .algolia-docsearch-suggestion--content {
    color: $text;
  }

  .algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
    background-color: $light-gray;
  }

  @include until($desktop) {
    .algolia-autocomplete .ds-dropdown-menu {
      min-width: 100vw;
      margin-left: -1rem;
      box-shadow: initial;
      border-radius: 0;
    }

    .algolia-autocomplete .ds-dropdown-menu [class^=ds-dataset-] {
      border-radius: 0;
      border-left: none;
      border-right: none;
    }
  }
}
