.screencasts-container {
  padding-top: 100px;

  .splash {
    padding-top: 60px;
    text-align: center;
  }

  .title {
    font-size: 3.4rem;
    font-weight: 900;
    margin: 0 0 50px 0;
    color: $dark;
  }

  .subtitle {
    font-family: $family-primary;
    margin-bottom: 50px;
    line-height: 1.5;
    font-size: 1.15rem;
  }
}

.screencasts-list {
  padding-top: 106px;
  padding-bottom: 106px;
  margin-top: 140px;
  background: $light-gray;

  .column {
    padding: 1.25rem;
  }

  .screencast-row {
    background: #fff;
    box-shadow: 0 0 0 1px rgba(63,63,68,.05),0 1px 6px 0 rgba(69,79,91,.18);
    margin-bottom: 30px;
    overflow: hidden;

    .series-banner {
      height: 180px;
      background-size: cover;
      display: block;
      position: relative;
      background-position: center center;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.2);
      }
    }

    .series-description {
      padding: 25px 30px;
    }

    h3 {
      position: relative;
      color: #fff;
      display: inline-block;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      padding: 0 20px 12px 20px;
    }
  }
}
