.sheet-container {
  width: 100%;
  display: flex;
  background: $gray4;
}

.sheet {
  background: #FFFFFF;
  max-width: 910px;
  margin: auto;
  padding: 60px 100px;
  box-shadow: 0 0 12px 0 rgba(0,23,40,0.09);

  .button {
    margin-right: 20px;
  }
}

.logo-wrapper {
  margin-top: 20px;
  background: $primary-color;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-width: 100%;
  }

  &.header-logo {
    width: 300px;
    height: 90px;
  }
}
