.sidebar {
  padding-top: 80px;

  @include until($desktop) {
    padding: 30px $responsive-side-gap;
  }
}

.menu {
  margin-top: 15px;
}

.menu-label {
  font-family: $family-headings;
  font-weight: 600;
  color: #919eab;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.menu-list {
  margin-bottom: 1.8em;
  a {
    padding: 0.3em 0;
    font-size: 0.9rem;

    &:hover, &.is-active {
      background: transparent;
      color: $red;
    }
  }
}

.select.is-block {
  margin-bottom: 40px;
  select {
    width: 100%;
  }
}

#sponsor {
  z-index: 99;
  padding: 10px;
  background: #fff;
  width: 145px;
  box-shadow: 0px 0px 3px #e8e8e8;
  right: 20px;
  position: absolute;
  display: none;
  top: 20px;

  @include from($desktop) {
    display: block;
  }

  span {
    display: inline-block;
  }

  .carbon-text {
    display: block;
    color: $text;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 5px;
  }

  .carbon-img {
    display: block;
    img {
      width: 125px;
    }
  }

  .carbon-poweredby {
    color: #919eab;
    display: block;
    text-align: right;
    font-size: 12px;
  }
}
