.sponsors-container {
  padding: 100px 0;

  .splash {
    padding-top: 60px;
    text-align: center;
  }

  .title {
    font-size: 3.4rem;
    font-weight: 900;
    margin: 0 0 50px 0;
    color: $dark;
  }

  .subtitle {
    font-family: $family-primary;
    margin-bottom: 50px;
    line-height: 1.5;
    font-size: 1.15rem;
  }

  .featured-sponsors {
    margin: 80px 0;
    padding-top: 80px;
    border-top: 1px solid $gray;
  }

  .sponsor-card {
    color: $text;
    padding: 0;
    p {
      padding: 20px 50px 40px 50px;
    }

    .sponsor-graphic {
      height: 150px;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.backers-list {
  padding-top: 30px;
}
