@import "~bulma/sass/utilities/initial-variables";

$primary: #220052;
$danger: #fb2f51;
$family-primary: 'filson pro', sans-serif;
$text: #454F5B;
$dark: #001728;
$family-code: 'Operator Mono', Consolas, Monaco, 'Andale Mono', monospace;
$border: #919EAB;
$text-strong: $text;
$link: $danger;
$link-hover: $link;
$code-background: #fff;
$code: $text;
$widescreen: 1080 + (2 * $gap);
$fullhd: $widescreen;
$family-headings: 'effra', sans-serif;
$green: #00c79b;
$gray: #f4f5f6;
$light-gray: #f9fafb;
$weight-normal: 500;
$modal-content-width: 600px;
$footer-background-color: $primary;
$responsive-side-gap: 40px;
$body-size: 16px;
$body-line-height: 1.6;
