$base-font-family: 'filson pro', sans-serif;
$headings-font-family: 'effra', sans-serif;
$code-font-family: 'source-code-pro', monospace;

$bodyColour: #454F5B;
$headingColour: #001728;
$primary-color: #220052;
$linkColour: #FB2F51;
$gray3: #DFE3E8;
$gray4: #F9FAFB;
$gray2: #919EAB;

