.wysiwyg {
  font-size: 1.05rem;

  .title {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: inherit;
  }

  .image {
    display: block;
    padding: 10px 0;
  }

  #preamble {
    p {
      font-size: 1.15rem;
      line-height: 1.7;
    }

    li {
      line-height: 1.9;
    }
  }

  p > a, .admonitionblock a {
    color: $danger;
    text-decoration: none;
    background-image: linear-gradient(to bottom,transparent 50%,#fc617b 50%);
    background-position: 0 93%;
    background-repeat: repeat-x;
    background-size: 100% .15rem;
    text-shadow: .1rem 0 #fff,.15rem 0 #fff,-.1rem 0 #fff,-.15rem 0 #fff;
  }

  h1 {
    font-size: $size-1;
    width: calc(100% - 40px);
    line-height: 1.1;

    @include from($tablet) {
      width: 100%;
    }
  }

  h2 {
    font-size: 1.8rem;
    position: relative;
    margin-bottom: 20px;

    a.link {
      &:before {
        content: "#";
        position: absolute;
        margin-left: -27px;
        top: 1px;
        color: #dfe3e8;
      }

      &:hover {
        color: inherit;
      }
    }

    @include until($tablet) {
      a.link {
        &:before {
          content: '';
        }
      }
    }
  }

  h3 {
    font-size: 1.35rem;
    margin-bottom: 8px;

    a {
      &:hover {
        color: inherit;
      }
    }
  }

  h4 {
    font-size: 1.15rem;
    margin-bottom: 8px;
    a {
      &:hover {
        color: inherit;
      }
    }
  }

  .paragraph {
    margin-bottom: 25px;
  }

  blockquote {
    border-left: 4px solid #e6e6e6;
    padding: 0.6em 1.2em;
    color: gray;
  }

  .olist {
    margin-bottom: 2.5em;
    &.ol-shrinked {
      margin-bottom: 2em;
      ol > li {
        padding-top: 2px;
        padding-bottom: 2px;
      }
    }

    &.ol-spaced {
      ol > li {
        padding-top: 12px;
        padding-bottom: 12px;
      }
    }

    ol {
      list-style-type: none;
      > li {
        padding-top: 6px;
        padding-bottom: 6px;
        counter-increment: top-level;
        &:before {
          content: counter(top-level) ".";
          font-feature-settings: 'lnum','tnum';
          position: absolute;
          margin-left: -25px;
          text-align: right;
          width: 15px;
        }
      }
    }

    @include until($tablet) {
      ol {
        > li {
          padding-left: 25px;
        }
      }
    }

    @include from($tablet) {
      ol {
        > li {
          padding-left: 0;
        }
      }
    }
  }

  li .ulist {
    margin: 0;
    padding-left: 16px;
  }

  .ulist {
    margin-bottom: 2.5em;
    &.ul-shrinked {
      margin-bottom: 2em;
      ul > li {
        padding-top: 2px;
        padding-bottom: 2px;
      }
    }

    &.ul-spaced {
      ul > li {
        padding-top: 12px;
        padding-bottom: 12px;
      }
    }

    &.emojified {
      ul {
        list-style: none;
      }
    }

    ul {
      list-style-type: initial;
      > li {
        padding-top: 6px;
        padding-bottom: 6px;
      }
    }

    @include until($tablet) {
      ul {
        > li {
          padding-left: 25px;
        }
      }
    }

    @include from($tablet) {
      ul {
        > li {
          padding-left: 0;
        }
      }
    }
  }

  .paragraph + .listingblock pre, .paragraph + .dlist, .paragraph  + .try-on-replit + .listingblock pre {
    margin-top: -21px;
  }

  .try-on-replit {
    position: absolute;
    z-index: 1;
    display: flex;
    right: 0;
    margin-right: 130px;
    margin-top: -8px;
  }

  .admonitionblock + .try-on-replit {
    margin-top: 10px;
  }

  .listingblock {
    position: relative;

    .title {
      font-family: $family-headings;
      font-weight: 500;
      position: absolute;
      right: 10px;
      top: 4px;
      z-index: 1;
      font-size: 13px;
      color: #919eab;
    }
  }

  .dlist {
    border: 1px solid #dfe3e8;
    padding: 20px 0;
    margin-bottom: 30px;

    dt {
      font-weight: 600;
      color: #525659;
      padding: 0 20px;
    }

    dd {
      margin-bottom: 20px;
      border-bottom: 1px solid #dfe3e8;
      padding: 0 20px 20px 20px;

      p {
        margin-bottom: 15px;
        &:last-child {
          margin-bottom: 0;
        }
      }

      .paragraph {
        margin-bottom: 0;
      }

      &:last-child {
        border: none;
        margin: 0;
        padding-bottom: 0;
      }
    }
  }

  .admonitionblock {
    background: #f9fafb;
    border-radius: 4px 4px 6px 6px;
    padding: 15px;
    position: relative;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-bottom: 2.5em;
    margin-top: 0.5em;

    @include until($tablet) {
      padding: 5px;
    }

    table {
      td, th {
        vertical-align: middle;
      }

      td.icon {
        display: table-cell;
        width: auto;
        height: auto;
      }

      @include until($tablet) {
        td.icon {
          display: none;
        }
      }
    }

    &:before {
      content: "";
      height: 5px;
      position: absolute;
      top: 0;
      left: -1px;
      width: calc(100% + 2px);
      border-radius: 3px 3px 0 0;
    }

    td {
      padding: 15px;
    }

    .fa {
      width: 32px;
      height: 32px;
      display: block;
      position: relative;
      background-size: 90%;
      height: 38px;

      &.icon-tip {
        background: url('/images/tip.svg') no-repeat;
      }

      &.icon-note {
        background: url('/images/note.svg') no-repeat;
      }
    }

    &.tip {
      &:before {
        background: linear-gradient(to right, $green, darken($green, 10%));
      }
    }

    &.note {
      &:before {
        background: linear-gradient(to right,#6100e9,#4800ad);
      }
    }
    
    .paragraph:last-child {
      margin-bottom: 0;
    }
  }

  .toc {
    padding: 30px 25px 30px 25px;
    border: 1px solid $grey-lighter;
    display: inline-block;
    margin: 40px 0;

    a {
      color: $danger;
    }

    #toctitle {
      display: none;
    }
  }

  .sect1 {
    padding-top: 56px;
    margin-bottom: 32px;
    border-top: 1px solid $grey-lighter;
  }

  iframe {
    margin-bottom: 2.5em;
  }

  pre.highlight {
    padding: 20px 60px 20px;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
    border: none;
    background: #fff;
    position: relative;
    border-radius: 4px;
    overflow-x: scroll;
    display: block;
    margin-bottom: 2.5em;

    code {
      font-family: $family-code;
      font-size: 13px;
      line-height: 2;
      background: transparent;
    }

    @include until($tablet) {
      padding: 10px 20px 10px;
    }

    &.is-small {
      display: inline-block;
      margin: 0;
    }
  }

  code {
    padding: 1px 6px;
    font-size: 14px;
    border-radius: 4px;
    background: $gray;
    font-family: $family-code;
  }

  .line-numbers > code {
    position: initial;
    padding-left: 0;
  }

  .line-numbers .line-numbers-rows {
    left: 0;
    border-right: 1px solid rgba(0,0,0,.1);
    padding: 20px 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.02);

    @include until($tablet) {
      display: none;
    }
  }

  table.tableblock {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
    margin-top: .60883rem;

    th {
      text-align: left;
      border: 1px solid #dfe3e8;
      padding: 8px 15px;
      background: #fafafa;
    }

    td {
      color: #454f5b;
      padding: 8px 15px;
      vertical-align: middle;
      border: 1px solid #dfe3e8;

      .description {
        font-size: 12px;
        display: block;
        line-height: 1.35;
        color: #919eab;
      }
    }
  }
}
