<a
  href="{{ url }}"
  {{ $props.serializeExcept(['url', 'title']) }}
  class="text-lg font-medium font-display block whitespace-nowrap px-4 py-1 hover:bg-gray-200 text-gray-500 hover:text-gray-900"
>
  {{ title }}
</a>
