---
permalink: guides/security/email-verifications
group: Application Security
---

# Email Verification
