h1, h2, h3, h4, h5 {
  font-family: "effra", sans-serif;
  font-feature-settings: 'dlig', 'liga', 'lnum', 'kern';
  color: #001728;
  font-weight: 700; }

p {
  font-feature-settings: 'kern', 'onum', 'liga'; }
  p.faded {
    color: #919EAB; }

.typeset .image {
  display: block;
  padding: 20px 0; }

.typeset h1 a, .typeset h2 a, .typeset h3 a, .typeset h4 a, .typeset h5 a {
  color: #001728;
  text-decoration: none; }

.typeset img {
  max-width: 100%; }

.typeset h2 {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 20px;
  font-weight: 600; }

.typeset h3 {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 8px; }

.typeset h4 {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 10px; }

.typeset h1 {
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 25px; }

.typeset h1 a, .typeset h1 a:hover, .typeset h1 a:active, .typeset h1 a:focus, .typeset h2 a, .typeset h2 a:hover, .typeset h2 a:active, .typeset h2 a:focus, .typeset h3 a, .typeset h3 a:hover, .typeset h3 a:active, .typeset h3 a:focus, .typeset h4 a, .typeset h4 a:hover, .typeset h4 a:active, .typeset h4 a:focus, .typeset h5 a, .typeset h5 a:hover, .typeset h5 a:active, .typeset h5 a:focus {
  background: none;
  text-shadow: none; }

.typeset a {
  color: #FB2F51;
  text-decoration: none;
  background-image: linear-gradient(to bottom, transparent 50%, #fc617b 50%);
  background-position: 0 93%;
  background-repeat: repeat-x;
  background-size: 100% 0.15rem;
  text-shadow: 0.1rem 0 #fff, 0.15rem 0 #fff, -0.1rem 0 #fff, -0.15rem 0 #fff; }
  .typeset a:hover, .typeset a:active, .typeset a:focus {
    background-image: linear-gradient(to bottom, transparent 50%, #fd93a5 50%); }

.typeset p strong, .typeset p b {
  font-weight: 600; }

.typeset #preamble {
  margin-bottom: 70px; }
  .typeset #preamble p {
    font-size: 18px;
    line-height: 30px; }

.typeset .sect1 {
  padding-top: 56px;
  margin-bottom: 32px;
  border-top: 1px solid #DFE3E8; }

.typeset .sect2 {
  padding-top: 10px; }

.typeset h2 a.link {
  text-decoration: none;
  display: block;
  position: relative; }
  .typeset h2 a.link:before {
    content: "#";
    position: absolute;
    margin-left: -27px;
    top: 1px;
    color: #DFE3E8; }

.typeset .olist {
  margin-bottom: 40px; }
  .typeset .olist ol {
    list-style-type: none; }
    .typeset .olist ol li {
      padding: 6px 0;
      counter-increment: top-level; }
      .typeset .olist ol li:before {
        content: counter(top-level) ".";
        font-feature-settings: 'lnum', 'tnum';
        margin-left: -25px;
        position: absolute;
        text-align: right;
        width: 15px; }
    .typeset .olist ol.ol-shrinked li {
      padding: 0; }
    .typeset .olist ol.ol-spaced li {
      padding: 12px 0; }

.typeset .paragraph {
  margin-bottom: 25px; }

.typeset .paragraph + .listingblock pre {
  margin-top: -16px; }

.typeset code {
  padding: 3px 8px;
  background: #f4f5f6;
  border-radius: 4px;
  color: #395062;
  margin-left: 2px;
  margin-right: 2px;
  font-size: 15px;
  -webkit-font-smoothing: auto;
  font-family: "source-code-pro"; }

.typeset pre.highlight {
  font-family: "source-code-pro", monospace;
  display: block;
  padding: 25px 25px 25px 30px;
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  position: relative;
  overflow-x: scroll;
  background: #fff;
  border: none; }
  .typeset pre.highlight code {
    font-size: 14px;
    line-height: 24px;
    display: block;
    background: transparent;
    font-family: "source-code-pro", monospace;
    margin: 0; }

.typeset pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber; }
  .typeset pre.line-numbers > code {
    position: initial;
    padding-left: 40px; }

.typeset .line-numbers .line-numbers-rows {
  left: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding: 28px 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.02); }

.typeset .line-numbers-rows > span:before {
  text-align: center;
  padding: 0; }

.typeset .paragraph + .dlist {
  margin-top: -16px; }

.typeset pre.line-numbers > code {
  position: initial;
  padding-left: 0; }

.typeset .listingblock {
  position: relative; }
  .typeset .listingblock .title {
    font-family: "effra", sans-serif;
    font-weight: 500;
    position: absolute;
    right: 10px;
    top: 4px;
    z-index: 1;
    font-size: 13px;
    color: #919EAB; }

.typeset .description {
  font-size: 12px;
  display: block;
  line-height: 1.35;
  color: #919EAB; }

.typeset .toc {
  padding: 35px 25px 35px 35px;
  border: 1px solid #DFE3E8;
  display: inline-block;
  margin: 40px 0; }
  .typeset .toc #toctitle {
    display: none; }
  .typeset .toc ul {
    list-style: none outside none; }
  .typeset .toc li a {
    text-decoration: none;
    background: none;
    text-shadow: none; }

.typeset .dlist {
  border: 1px solid #DFE3E8;
  padding: 20px 0;
  margin-bottom: 30px; }
  .typeset .dlist dt {
    font-weight: 600;
    color: #001728;
    padding: 0 20px; }
  .typeset .dlist dd {
    margin-bottom: 20px;
    border-bottom: 1px solid #DFE3E8;
    padding: 0 20px; }
    .typeset .dlist dd:last-child {
      border: none;
      margin: 0; }
  .typeset .dlist dd .paragraph {
    margin-bottom: 0; }
  .typeset .dlist dd p {
    margin-bottom: 15px; }
    .typeset .dlist dd p:last-child {
      margin-bottom: 0; }

.typeset .admonitionblock {
  color: #454F5B;
  background: #F9FAFB;
  border-radius: 4px 4px 6px 6px;
  padding: 15px;
  margin-bottom: 1.39117rem;
  margin-top: 0.60883rem;
  position: relative;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee; }
  .typeset .admonitionblock:before {
    content: "";
    height: 5px;
    position: absolute;
    top: 0px;
    left: -1px;
    width: calc(100% + 2px);
    border-radius: 3px 3px 0px 0px; }
  .typeset .admonitionblock.note:before {
    background: linear-gradient(to right, #6100e9, #4800ad); }
  .typeset .admonitionblock.tip:before {
    background: linear-gradient(to right, #00C79B, #1b957a); }
  .typeset .admonitionblock td {
    padding: 15px; }
  .typeset .admonitionblock .fa {
    width: 32px;
    height: 32px;
    display: block;
    position: relative; }
    .typeset .admonitionblock .fa.icon-tip {
      background: url(/images/tip.svg) no-repeat;
      background-size: 90%;
      height: 38px; }
    .typeset .admonitionblock .fa.icon-note {
      background: url(/images/note.svg) no-repeat;
      background-size: 100%; }

.typeset table.tableblock {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1.39117rem;
  margin-top: 0.60883rem; }
  .typeset table.tableblock th {
    text-align: left;
    border: 1px solid #DFE3E8;
    padding: 8px 15px;
    background: #fafafa; }
  .typeset table.tableblock tr td {
    color: #454F5B;
    padding: 8px 15px;
    vertical-align: middle;
    border: 1px solid #DFE3E8; }

.button {
  padding: 7px 24px;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  display: inline-block; }
  .button.secondary {
    transition: background 200ms ease;
    background: #FB2F51;
    border: 2px solid #FB2F51;
    color: #fff; }
    .button.secondary:hover {
      background: #e8042a;
      border-color: #e8042a; }
    .button.secondary .fill__group {
      fill: #fff; }
    .button.secondary.naked {
      background: transparent;
      color: #FB2F51;
      border-color: #FB2F51; }
      .button.secondary.naked .fill__group {
        fill: #FB2F51; }
      .button.secondary.naked:hover {
        background: #FB2F51;
        color: #fff; }
        .button.secondary.naked:hover .fill__group {
          fill: #fff; }
  .button.arrow-right {
    padding-right: 50px; }
    .button.arrow-right svg {
      position: absolute;
      right: 20px;
      top: 13px; }

footer.footer {
  background: #220052; }
  footer.footer .footer-content {
    display: flex;
    justify-content: space-between;
    height: 160px;
    align-items: center; }
  footer.footer p, footer.footer a {
    color: #BDB3CB; }
  footer.footer a {
    text-decoration: underline; }
  footer.footer .logo {
    width: 32px; }
    footer.footer .logo img {
      width: 100%; }

.pure-css-select-style {
  /* Theme attributes */
  border-radius: 2px;
  /* <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11"><path d="M4.33 8.5L0 1L8.66 1z" fill="#666"/></svg> */
  background: #fff url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2211%22%20height%3D%2211%22%20viewBox%3D%220%200%2011%2011%22%3E%3Cpath%20d%3D%22M4.33%208.5L0%201L8.66%201z%22%20fill%3D%22%23919EAB%22/%3E%3C/svg%3E") right 10px center no-repeat; }
  .pure-css-select-style select {
    width: 100%;
    border: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0 1px 6px 0 rgba(0, 23, 40, 0.06);
    /* Hide arrow on FF */
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: ellipsis;
    padding: 13px 38px 10px 15px;
    font: 400 16px/1.1 "filson pro", sans-serif;
    color: #454F5B; }

/* Hide arrow on IE10*/
.pure-css-select-style select::-ms-expand {
  display: none; }

.pure-css-select-style optgroup {
  color: inherit;
  font: inherit; }

/* IE9: To hide select arrow we make the select overflow on the right side there is not another way :( */
@media screen and (min-width: 0\0) {
  .pure-css-select-style select {
    width: calc( 100% + 58px); } }

.grid-container {
  max-width: 1080px;
  margin: auto; }

.splash-container {
  background: #220052; }

.subtitle {
  color: #220052;
  font-size: 34px;
  line-height: 40px;
  font-weight: 900;
  margin-bottom: 25px;
  position: relative;
  display: inline-block; }
  .subtitle:before, .subtitle:after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px; }
  .subtitle:before {
    background: url("/images/arrow-yellow.png") no-repeat;
    right: 16px;
    bottom: -8px; }
  .subtitle:after {
    background: url("/images/arrow-green.png") no-repeat;
    left: 30px;
    top: -14px; }

.splash {
  background: url("/images/pyramid.png") right no-repeat;
  padding: 90px 0 145px 0; }
  .splash .splash-content {
    width: 500px; }
  .splash h1.title {
    font-size: 62px;
    color: #fff;
    font-weight: 900;
    margin: 0 0 20px 0;
    line-height: 65px; }
  .splash p {
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    margin-bottom: 35px; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px; }
  .header .navbar {
    display: flex; }
    .header .navbar a {
      margin-right: 15px;
      color: #fff;
      transition: color 300ms ease;
      text-decoration: none; }
      .header .navbar a:hover {
        color: #FB2F51; }

.apps-container {
  background: #F9FAFB;
  padding: 106px 0; }

.apps-content {
  display: flex;
  justify-content: space-between; }
  .apps-content .about-apps {
    width: 30%; }
  .apps-content .apps-list {
    width: 70%;
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .apps-content .app {
    width: 47%;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
    text-align: center;
    background: #FFFFFF;
    margin-bottom: 30px;
    box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 6px 0 rgba(69, 79, 91, 0.18); }
    .apps-content .app h3 {
      color: #FB2F51;
      position: relative;
      padding-bottom: 15px; }
      .apps-content .app h3:after {
        content: '';
        height: 3px;
        background: #DFE3E8;
        position: absolute;
        width: 30px;
        top: 75%;
        left: 50%;
        margin-left: -15px; }

.patreon-container {
  padding: 80px 0;
  text-align: center; }

.patreon-content {
  max-width: 670px;
  margin: auto; }
  .patreon-content p {
    margin-bottom: 40px;
    font-size: 17px; }

.features-container {
  padding: 106px 0 0 0;
  background: #fff; }

.features-content {
  text-align: center;
  width: 780px;
  margin: auto;
  height: 500px;
  position: relative;
  overflow: hidden; }
  .features-content p {
    width: 80%;
    font-size: 18px;
    line-height: 30px;
    margin: auto;
    margin-bottom: 20px; }

.codeshell {
  background: #fff;
  border-radius: 5px;
  position: absolute;
  height: 350px;
  border: 1px solid #e8e8e8;
  left: 0;
  right: 0;
  margin-top: 50px; }

@media only screen and (max-width: 1140px) {
  .grid-container {
    max-width: 100%;
    padding: 0 30px; } }

.docs-container {
  background: linear-gradient(90deg, #F9FAFB 60%, #fff 61%); }

.docs-content {
  display: flex;
  min-height: 100vh; }

.left-bar {
  width: 240px;
  margin-right: 40px;
  padding-top: 80px;
  background: #F9FAFB; }

.document {
  padding: 70px 100px;
  width: 800px;
  background: #FFFFFF;
  box-shadow: -6px 0 12px 0 rgba(0, 23, 40, 0.09); }

.navlist {
  margin-bottom: 36px; }
  .navlist h3 {
    color: #919EAB;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 8px; }
  .navlist ul {
    list-style: none; }
    .navlist ul li {
      line-height: 24px; }
      .navlist ul li a {
        color: #454F5B;
        text-decoration: none;
        font-size: 15px;
        transition: color 300ms ease; }
      .navlist ul li:hover a, .navlist ul li.active a {
        color: #FB2F51; }

.version-switch {
  margin-bottom: 30px; }

html {
  font: normal 112.5% / 1.65 serif; }

body, html {
  height: 100%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "filson pro", sans-serif;
  font-size: 16px;
  background: #fff;
  color: #454F5B; }
