<li>
  <a
    href="{{ url }}"
    class="font-medium text-lg leading-6 tracking-wide hover:text-brand py-4 px-11 block bg-gray-100 border-b border-1 lg:border-2 lg:bg-inherit lg:py-0 lg:rounded lg:my-0.5 lg:px-3 lg:inline-block {{ active ? 'border-blue-200 text-brand active' : 'border-white text-gray-400' }}"
  >
    {{ title }}
  </a>
</li>
