@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--topbar-height: 50px;
	--header-height: 55px;
}

::-moz-selection,
::selection {
	@apply bg-adonis-selection;
}

.sidebar {
	margin-left: -999px;
	padding-left: 999px;
	top: calc(var(--header-height) + var(--topbar-height));
}

.doc {
	margin-left: 280px;
}

.hero {
	&::after {
		@apply absolute bottom-0 left-0 right-0 block;
		content: '';
		background: inherit;
		height: 50%;
		transform-origin: 100%;
		transform: skewY(-1.5deg);
		z-index: -1;
	}
}

.dimer-edge-shiki {
	@apply p-8 rounded-md text-base;
	@apply bg-adonis-pre-bg !important
}

.code {
	@apply rounded-md relative;

	.filename {
		@apply absolute right-0 top-0 py-1 px-3 m-4 bg-grey-300 text-sm rounded-md font-mono;
	}
}

.codegroup {
	.filename {
		display: none;
	}

	.dimer-edge-shiki {
		@apply pt-4;
	}

	.tabs {
		.active {
			@apply text-white border-b-2 border-adonis-brand !important;
			margin-bottom: -2px;
		}

		> * {
			@apply font-mono text-base text-grey-400 transition-colors duration-150;

			&:hover {
				@apply text-white
			}
		}

		> * + * {
			@apply ml-8;
		}
	}
}

.markdown {
	@apply text-xl font-normal leading-relaxed text-grey-800;
	max-width: 70ch;

	:first-child:is(h2) {
		@apply border-none;
	}

	/*
	 * Spacing
	 */
	> * + * {
		@apply mb-6;
	}

	/*
	 * Typography
	 */
	h1,
	h2,
	h3,
	h4 {
		@apply font-semibold text-grey-900;
	}

	h1 {
		@apply text-5xl;

		.icon.icon-link {
			@apply hidden;
		}

		code {
			@apply relative text-5xl !important;
		}
	}

	h2 {
		@apply pt-10 mt-12 text-3xl border-t border-grey-300;

		code {
			@apply relative text-3xl !important;
		}
	}

	h3 {
		@apply text-2xl;

		code {
			@apply relative text-2xl !important;
		}
	}

	h4 {
		@apply text-xl;

		code {
			@apply relative text-xl !important;
		}
	}

	strong {
		@apply font-medium;
	}

	/*
	 * Lists
	 */
	li {
		@apply relative;
	}

	ul li {
		@apply pl-8 mb-4;

		&::before {
			@apply absolute left-0 overflow-hidden text-grey-800;
			content: '—';
			width: 15px;
		}
	}

	/*
	 * Links
	 */
	.icon.icon-link {
		@apply inline-block mr-4 text-grey-300;

		&::after {
			content: '#';
		}
	}
	:is(h1, h2, h3, h4) > a {
		@apply bg-none;
	}

	a {
		@apply no-underline text-adonis-brand;
		background-image: linear-gradient(to bottom, transparent 50%, #5a45ff 50%);
		background-position: 0 93%;
		background-repeat: repeat-x;
		background-size: 100% 0.15rem;
	}

	/*
	 * Inline Code Examples
	 */
	:not(pre) > code {
		@apply text-sm font-semibold text-adonis-brand;

		&::before {
			content: '\`';
		}

		&::after {
			content: '\`';
		}
	}

	/*
	 * Tables
	 */
	table {
		@apply border-collapse w-full;

		tr th,
		tr td {
			@apply text-left px-4 py-2
		}

		tr th {
			@apply bg-grey-100 font-semibold;
		}

		tr td {
			@apply border-b border-grey-100;
		}
	}
}

/*

.markdown-content .bookmark {
	top: -130px;
	position: absolute;
	display: block;
	visibility: hidden;
}

.markdown-content h2 .bookmark {
	top: -100px;
}

.markdown-content ol {
	counter-reset: numbered-counter;
}

.markdown-content ol li:before {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	content: counter(numbered-counter, decimal) ".";
	counter-increment: numbered-counter;
}

.markdown-content li p:last-of-type {
	margin-bottom: 10px;
}

.markdown-content li p:first-of-type {
	margin-top: 0;
}

.markdown-content img,
.markdown-content video {
	@apply bg-grey-300;
	max-width: 100%;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 768px) {
 .markdown-content .code-highlight,
 .markdown-content .codegroup {
		margin-left: auto;
		margin-right: auto;
		border-radius: 4px;
	}

	.markdown-content .icon.icon-link {
		position: absolute;
		left: -30px;
		top: -2px;
	}
}
*/
