<div id="quick-i-modal" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      @include('partials.timeline')
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
