<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	@if(title)
		<title>{{ title }} - AdonisJS</title>
	@else
		<title>AdonisJS - The Node.js Web Framework</title>
	@endif

	<link rel="stylesheet" href="/assets/app.css">
	<link rel="stylesheet" href="/fonts/calibre.css">
	<link rel="stylesheet" href="/fonts/jetbrains.css">

	<script src="https://cdn.jsdelivr.net/npm/turbolinks@5.2.0/dist/turbolinks.js" defer></script>
	<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.6.0/dist/alpine.min.js" defer></script>
	<script>
		document.addEventListener('DOMContentLoaded', () => {
			Turbolinks.start()
		})
	</script>
</head>
<body class="font-sans antialiased text-grey-900">
	@include('_components/_header')

	<main>
		@!section('page')
	</main>
</body>
</html>
