@layout('_master')

@section('page')
	<div class="flex mt-20">
		<article class="mx-auto markdown">
			<h1>{{ frontMatter.title }}</h1>

      @each(node in content.children)~
        @!component(getComponentFor(node), { node })
      @endeach
		</article>
	</div>
@endsection
