@layout('_master')

@section('page')
	<div style="margin-top: var(--header-height)">
		@!component('_components/_hero', { title: frontMatter.title, description: frontMatter.meta.excerpt })
	</div>

	<article class="mx-auto markdown">

		@each(node in content.children)~
			@!component(getComponentFor(node), { node })
		@endeach
	</article>
@endsection
