@font-face {
  font-family: 'Calibre';
  src: local('Calibre-Bold'),
      url('./Calibre/Calibre-Bold.woff2') format('woff2'),
      url('./Calibre/Calibre-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calibre';
  src: local('Calibre-Medium'),
      url('./Calibre/Calibre-Medium.woff2') format('woff2'),
      url('./Calibre/Calibre-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calibre';
  src: local('Calibre'),
      url('./Calibre/Calibre.woff2') format('woff2'),
      url('./Calibre/Calibre.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

