<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title || 'AdonisJs - MVC framework for Node.js' }}</title>

    {{-- Typekit --}}
    <script src="https://use.typekit.net/dpd2zbd.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    {{ script('adonis') }}

    {{-- Styles --}}
    {{ css('adonis') }}
  </head>
  <body>
    <section class="app">
      @section('header')
        @include('partials.header')
      @endsection

      @section('body')
        @include('modals.installation')
      @endsection

      @section('footer')
        @include('partials.footer')
        @include('partials.ga')
      @endsection
    </section>
  </body>
</html>
