@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: 'Calibre';
  src: local('Calibre-Bold'),
      url('/fonts/Calibre/Calibre-Bold.woff2') format('woff2'),
      url('/fonts/Calibre/Calibre-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calibre';
  src: local('Calibre-Semibold'),
      url('/fonts/Calibre/Calibre-Semibold.woff2') format('woff2'),
      url('/fonts/Calibre/Calibre-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calibre';
  src: local('Calibre-Medium'),
      url('/fonts/Calibre/Calibre-Medium.woff2') format('woff2'),
      url('/fonts/Calibre/Calibre-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calibre';
  src: local('Calibre'),
      url('/fonts/Calibre/Calibre.woff2') format('woff2'),
      url('/fonts/Calibre/Calibre.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: local('JetBrains Mono Medium'), local('JetBrainsMono-Medium'),
      url('/fonts/JetBrains/JetBrainsMono-Medium.woff2') format('woff2'),
      url('/fonts/JetBrains/JetBrainsMono-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: local('JetBrains Mono Regular'), local('JetBrainsMono-Regular'),
      url('/fonts/JetBrains/JetBrainsMono-Regular.woff2') format('woff2'),
      url('/fonts/JetBrains/JetBrainsMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
